.wrapper {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-8) var(--space-4) 0 var(--space-4);
  gap: var(--space-8);
    background: linear-gradient(186deg, #fdaaa5 -10%, #cdcbff 50%, #fdaaa5 110%);
}

.content {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-6);
  padding: 0 0 var(--space-7) 0;
}