* {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-display: swap;
    margin-block-start: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font), sans-serif;
    line-height: 1.4;
    font-size: 17px;
    color: #010163;
    background: linear-gradient(0deg, var(--color-background) 0%, var(--color-accent) 100%);
}

a,
a:visited,
a:active {
    color: inherit;
    transition: all 0.2s ease;
    text-decoration: none;
}

a:hover {
    font-weight: 600;
    letter-spacing: -0.0025rem;
}

img {
    max-width: 100%;
    display: block;
}

header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 4rem 2rem;
    min-height: 90vh;
    max-width: 65rem;
    margin: 0 auto;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

article {
    padding: 2rem;
    background: var(--color-text);
    color: var(--color-background);
    border-radius: 0.25rem;
}

article.alternative {
    background: var(--color-link);
    color: var(--color-text);
}

article.form {
    background: var(--color-background);
    color: var(--color-text);
}

article p {
    font-size: 0.98rem;
}

button {
    background: var(--color-text);
    color: var(--color-background);
    border-radius: 0.25rem;
    border: 2px solid transparent;
    padding: 0.33rem 0.75rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: all 0.2s ease;
    vertical-align: middle;
    font-family: var(--font);
    font-weight: 500;
}



button:hover {
    background: var(--color-background);
    color: var(--color-text);
    font-weight: 600;
}

button.minimal {
    background: var(--color-background);
    color: var(--color-text);

    padding: 0.25rem 0.5rem;
}

button.minimal:hover {
    background: var(--color-text);
    color: var(--color-background);
}

svg {
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

footer {
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.85rem;
}

h5 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 2rem;
}

ul {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

hr {
    opacity: 0.5;
}

strong {
    font-weight: 500;
    margin-right: 0.25rem;
}

h3:last-child,
h5:last-child,
p:last-child {
    margin-bottom: 0;
}

.warning {
    background: var(--color-warning);
    color: rgba(0, 0, 0, 0.85);
    padding: 1rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    display: inline-block;
}

.hidden {
    display: none;
}
.logo {
     background: var(--color-background);
     border: 2px solid var(--color-background);
     padding: 0.25rem 0.5rem 0.25rem 0.5rem;
     border-radius: 0.50rem;
    transition: all 0.2s ease-in-out;
}

.logo:hover { 
    background: rgba(255,255,255, 0.85);
    border-color: var(--color-text);
}
@media (max-width: 900px) {
    h1 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.1rem;
    }

         header {
             flex-direction: column;
             gap: 1.5rem;
             align-items: center;
             padding: 1.5rem 0.5rem 0 0.5rem;
         }
         

    footer {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 2rem 0.5rem 6rem 0.5rem;
    }

    footer p {
        margin: 0;
    }

    .cta {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        width: 100%;
        border-top: 2px solid var(--color-text);
    }

    .cta:hover {
        background: var(--color-link);
        color: var(--color-text);
border-top-color: var(--color-text);
    }
}